<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin Dashboard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
  </head>
  <body>
    <h1>Admin Dashboard</h1>

    <table class="requests-table" style="width: 100%">
      <tr>
        <td>Start Time</td>
        <td>End Time</td>
        <td>Requested Date</td>
        <td>Accepted by Worker</td>
        <td>Requester ID</td>
      </tr>
      <!-- Filled by requests_table.js -->
    </table>

    <table class="availability-table" style="width: 100%">
      <tr>
        <td>Unavailable From</td>
        <td>Unavailable to</td>
        <td>Date</td>
        <td>Worker ID</td>
        <!-- Filled by requests_table.js -->
      </tr>
    </table>

    <a href="/login/logout">Log Out</a>
    <script type="text/javascript" src="../js/requests_table.js"></script>
  </body>
</html>
